header{
    padding: 20px;
    background-color: #77e275;
    padding: 100px;
}
.link {
    list-style: none;
    display: flex;
    margin-left: 80px;
    margin-top: 100px;

}
.link li a {
    text-decoration: none;
    color: #080909;
    margin-left: 5px;
    
}

.link li::after {
    content: ">";
    margin-left: 5px;
}

.link li:last-child::after {
    content: "";
}

.link li:last-child a {
    color: #9b9494; /* Active/current page link */
}


.body {
    display: flex;
    padding: 100px;
    padding-top: 0px;
    padding-right: 0px;
}


.danhmuc{
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ddd;
}
.timkiem
{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.thanhtimkiem{
    width: 650px; /* Điều chỉnh chiều rộng của input */
    height: 10px; /* Điều chỉnh chiều cao của input */
    padding: 10px; /* Thêm padding bên trong */
    border-radius: 1px; /* Thêm bo tròn góc */
}
/* Style cho nút tìm kiếm */
.btn_tim {
    padding: 10px;
    background-color: #77e275; /* Màu nền của nút */
    border: none; /* Bỏ viền */
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;

}
.sanpham {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.sp{
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.sp img {
    width: 100%;
    height: auto;
}

.product-item p {
    margin: 10px 0;
    font-size: 16px;
}

.sp span {
    color: red;
    font-size: 18px;
}
.save{
    position: absolute; /* Định vị tuyệt đối để đặt giá trên ảnh */
    top: 310px; /* Khoảng cách từ đầu ảnh */
    left: 10px; /* Khoảng cách từ bên trái ảnh */
    background-color: #f20909f7; /* Nền đỏ với độ trong suốt */
    color: white;
    padding: 5px 10px; 
    border-radius: 5px; /* Bo tròn góc */
    font-weight: bold; 
    width: 100px;
}
footer {
  background-color: #1976d2;
  color: white;
  padding: 40px 20px;
  font-size: 20px;


}

footer h3, footer h4 {
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
footer form{
    display: flex;

}

footer form input {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

footer form button {
  padding: 10px 20px;
  background-color: white;
  color: #1976d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}
